---
import Navbar from '../components/Navbar.astro'
import Presentation from '../components/Presentation.astro';
import About from '../components/About.astro';
import Curriculum from '../components/Curriculum.astro';
import Portfolio from '../components/Portfolio.astro';
import Blog from '../components/Blog.astro';
import Contact from '../components/Contact.astro';
import '@fontsource/nunito';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/images/logo-personal-negro.ico"/>
		<meta name="viewport" content="width=device-width" />
		<title>Duccem | Full Stack Software Engineer</title>
	</head>
	<body>
		<div class="">
			<section class="min-h-screen box-border bg-[#F9F5F2] overflow-x-hidden pt-5">
				<div class="mx-auto max-w-6xl">
					<Navbar/>
					<div class="grid grid-cols-1 md:grid-cols-2 items-center h-full">
						<Presentation/>
						<div class="hidden md:flex justify-center items-center">
							<img src="/images/banner.png" alt="">
						</div>
					</div>
				</div>
			</section>
			<section id="about">
				<About/>
			</section>
			<section id="cv">
				<Curriculum/>
			</section>
			<section id="portfolio">
				<p class="text-center font-bold text-5xl my-16">Featured projects</p>
				<Portfolio/>
			</section>
			<section id="blog">
				<Blog/>
			</section>
			<section class="min-h-screen box-border bg-[#F9F5F2] overflow-x-hidden pt-5" id="contact">
				<Contact/>
			</section>
		</div>
	</body>
</html>

<style is:global>
	body {
		padding: 0;
		margin: 0;
		font-family: 'Nunito', Arial, Helvetica, sans-serif;
	}

	html ::-webkit-scrollbar {
    	width: 10px;
	}
	html ::-webkit-scrollbar-track {
		background-color: #F9F5F2;
	}

	html ::-webkit-scrollbar-thumb {
		background: #91A8ED;
		border: 3px solid #282825;
		border-radius: 5px;
	}
</style>
