---
import Presentation from '../components/Presentation.astro';
import About from '../components/About.astro';
import Curriculum from '../components/Curriculum.astro';
import Portfolio from '../components/Portfolio.astro';
import Blog from '../components/Blog.astro';
import Contact from '../components/Contact.astro';
import MainLayout from '../layouts/MainLayout.astro';

---

<MainLayout title="Duccem | Senior Software Engineer">
	<div class="">
		<section class="min-h-screen box-border overflow-x-hidden pt-5">
			<div class="mx-auto max-w-6xl">
				<div class="grid grid-cols-1 md:grid-cols-2 items-center h-full">
					<Presentation/>
					<div class="hidden md:flex justify-center items-center">
						<img src="/images/page/banner.png" alt="">
					</div>
				</div>
			</div>
		</section>
		<section id="about">
			<About/>
		</section>
		<section id="cv">
			<Curriculum/>
		</section>
		<section id="portfolio">
			<p class="text-center font-bold text-5xl my-16 mx-2">Featured projects</p>
			<Portfolio/>
		</section>
		<section id="blog">
			<Blog/>
		</section>
		<section class="min-h-screen box-border bg-[#F9F5F2] overflow-x-hidden pt-5" id="contact">
			<Contact/>
		</section>
	</div>
</MainLayout>




