<div class="grid grid-cols-1 md:grid-cols-2 min-h-screen">
    <div class="flex justify-around h-full flex-col gap-4 md:pl-40 md:pr-6 bg-[#FF91E8] py-10 box-border">
        <p class="text-4xl font-bold mb-5 ml-5">
            About me
        </p>
        <p class="text-lg ml-5 mr-5">
            Since 2018 working for local companies in my country, where I specialized  in the development of administrative software. Responsible for the maintenance of REST APIs and GraphQL (Node, NestJS) and React(NextJS)/Vue(NuxtJS) clients. In 2022 I managed to collaborate with several Latin American companies, where I developed differents solutions with React Native on mobile, Ruby on Rails and NestJS on backend and NextJS/Nuxt on client.
        </p>
        <p class="text-lg ml-5 mr-5">
            As a full stack developer I am comfortable in the Javascript/Typescript ecosystem. Experienced with both SQL and NoSQL databases. Expert in development under the DDD and TDD paradigms, using clean architectures, hexagonal. Having been able to design microservice architectures. Also had the opportunity to develop solutions based on LM such as ChatGPT
        </p>
        <p class="flex items-center ml-5 mr-5">
            <img src="https://raw.githubusercontent.com/Duccem/duccem.github.io/main/public/images/heart.svg" alt="" class="float-left mr-4"> I love video games, books, soccer and the beach.
        </p>
    </div>
    <div class="flex h-full justify-center items-center bg-[#F7CB46] py-10">
        <img src="https://raw.githubusercontent.com/Duccem/duccem.github.io/main/public/images/second-banner.png" alt="">
    </div>
</div>  