---
export interface Props {
    title: string,
    url: string,
    first: string,
    index: number,
}
const { first, title, url, index } = Astro.props
---

<a 
href={url}
class={`border-2 row-span-1  border-black rounded-lg box-border h-[100%] p-10 shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all ${index % 2 === 0 ? 'bg-white' : 'bg-red-100'}`}>
    <p class="text-xl font-bold mb-5">{title}</p>
    <p class="text-lg font-normal mb-5">{first}</p>
    <p class="text-lg font-bold flex items-center">
        Read article 
        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </p>
</a>