<div class="flex flex-col justify-center py-8 bg-[#47C5FB] min-h-screen">
    <p class="text-center font-bold text-5xl mb-10 px-[10px] md:px-0">Recent articles on my blog</p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-20 items-center box-border justify-center  mx-auto max-w-6xl px-10 pb-10">
        <a 
        href="https://medium.com/@ducen29/y-si-hacemos-que-las-empresas-sean-juegos-de-rol-e681b97ff57f"
        target="_blank"
        class="border-2 bg-white border-black rounded-lg box-border h-[100%] p-10 shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all">
            <p class="text-xl font-bold mb-5">¿Y si hacemos que las empresas sean juegos de rol?</p>
            <p class="text-lg font-normal mb-5">Como desarrollador de software me he encontrado con varias metodologías para medir el crecimiento de los equipos y de los individuos en los equipos.</p>
            <p class="text-lg font-bold flex items-center">
                Read article 
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </p>
        </a>
        <a 
        href="https://medium.com/@ducen29/y-si-hacemos-que-las-empresas-sean-juegos-de-rol-e681b97ff57f"
        target="_blank"
        class="border-2 bg-white border-black rounded-lg box-border h-[100%] p-10 shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all">
            <p class="text-xl font-bold mb-5">El mito del boilerplating de DDD</p>
            <p class="text-lg font-normal mb-5">Algo que es comun ya en la comunidad de desarrollo es decir que si quieres iniciar  y lanzar lo mas pronto posible, entonces DDD es perder el tiempo con boilerplate, pues para mi es un mito.</p>
            <p class="text-lg font-bold flex items-center">
                Read article 
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </p>
        </a>
        <a 
        href="https://medium.com/@ducen29/y-si-hacemos-que-las-empresas-sean-juegos-de-rol-e681b97ff57f"
        target="_blank"
        class="border-2 bg-white border-black rounded-lg box-border h-[100%] p-10 shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all">
            <p class="text-xl font-bold mb-5">Latino America, un lugar con gran talento</p>
            <p class="text-lg font-normal mb-5">Las comunidades de desarrollo son unas de las cosas mas maravillosas que existen en el mundo de la programacion, y en LATAM tenemos una de las mejores.</p>
            <p class="text-lg font-bold flex items-center">
                Read article 
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </p>
        </a>
    </div>
    <a class="text-lg font-bold flex items-center mx-auto justify-center" href="https://medium.com/@ducen29/y-si-hacemos-que-las-empresas-sean-juegos-de-rol-e681b97ff57f" target="_blank">
        Visit blog 
        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>