<div class="grid grid-cols-1 md:grid-cols-2  min-h-screen box-border">
    <div class="flex justify-around items-center gap-3 min-h-screen flex-col  pt-10 pb-10 bg-[#FF91E8]">
        <div class="w-full pr-5">
            <img class="w-[250px] md:w-[300px] ml-[20%] border-black border-2 rounded-md  shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all" src="https://raw.githubusercontent.com/Duccem/duccem.github.io/main/public/images/Login.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-[250px] md:w-[300px] mx-auto border-black border-2 rounded-md  shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all" src="https://raw.githubusercontent.com/Duccem/duccem.github.io/main/public/images/duccem_dash.png" alt="">
        </div>
        <div class="w-full pl-5">
            <img class="w-[250px] md:w-[300px] border-black border-2 rounded-md  shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all" src="https://raw.githubusercontent.com/Duccem/duccem.github.io/main/public/images/team.png" alt="">
        </div>
    </div>
    <div class="flex justify-center min-h-screen flex-col px-10 md:pr-40 md:pl-6 pt-10">
        <div class="flex gap-6 mb-5">
            <a
            href="https://ducen.vercel.app"
            target="_blank"  
            class="text-center cursor-pointer mt-3 font-bold border-black border-2 w-1/4 md:w-1/5  p-3 rounded-full bg-white shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] transition-all">
                Demo
            </a>
            <a
            href="https://github.com/Duccem/ducen"
            target="_blank" 
            class="flex justify-center gap-2 items-center text-center cursor-pointer mt-3 font-bold border-black border-2  p-3 rounded-full bg-white shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] transition-all">
                Code
                <img class="h-6" src="https://raw.githubusercontent.com/Duccem/duccem.github.io/main/public/images/github.png" alt="">
            </a>
        </div>
        <p class="text-3xl font-bold mb-5">
            Ducen, Team management software SaaS
        </p>
        <p class="text-lg font-medium mb-5">
            Project for project and team management trying to gamify the work process and work experience, using concepts from role-playing games
        </p>
        <p class="text-lg font-bold mb-5">
            Technologies:
        </p>
        <div class="flex">
            <img src="https://raw.githubusercontent.com/Duccem/duccem.github.io/main/public/images/next.png" class="h-14 mr-5" alt="next">
            <img src="https://raw.githubusercontent.com/Duccem/duccem.github.io/main/public/images/nest.png" class="h-14 mr-5" alt="nest">
            <img src="https://raw.githubusercontent.com/Duccem/duccem.github.io/main/public/images/graph.png" class="h-14 mr-5" alt="grapql">
            <img src="https://raw.githubusercontent.com/Duccem/duccem.github.io/main/public/images/mongo.png" class="h-14 mr-5" alt="mongodb">
        </div>
    </div>
</div>  
<div class="grid grid-cols-1 md:grid-cols-2  min-h-screen box-border">
    <div class="flex justify-center min-h-screen flex-col px-10 md:pl-40 md:pr-6 pt-10 order-2 md:order-1">
        <div class="flex gap-6 mb-5">
            <a 
            href="https://localesconectados.com"
            target="_blank"
            class="text-center cursor-pointer mt-3 font-bold border-black border-2 w-1/5  p-3 rounded-full bg-white shadow-[3px_3px_#282825] hover:shadow-[6px_6px_#282825] hover:translate-x-[-6px] hover:translate-y-[-6px] transition-all">
                Demo
            </a>
        </div>
        <p class="text-3xl font-bold mb-5">
            Locales conectados, Government benefits system 
        </p>
        <p class="text-lg font-medium mb-5">
            Benefits management system for people in precarious situations and commercial premises under development
        </p>
        <p class="text-lg font-bold mb-5">
            Technologies:
        </p>
        <div class="flex">
            <img src="https://raw.githubusercontent.com/Duccem/duccem.github.io/main/public/images/nuxt.png" class="h-14 mr-5" alt="next">
            <img src="https://raw.githubusercontent.com/Duccem/duccem.github.io/main/public/images/loopback.png" class="h-14 mr-5" alt="nest">
            <img src="https://raw.githubusercontent.com/Duccem/duccem.github.io/main/public/images/postgres.png" class="h-14 mr-5" alt="mongodb">
        </div>
    </div>
    <div class="flex justify-around items-center min-h-screen flex-col py-10 bg-[#F7CB45] order-1 md:order-2">
        <div class="w-full pr-5">
            <img class="w-[300px] md:w-[500px] ml-[25%] border-black border-2 rounded-md  shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all" src="https://raw.githubusercontent.com/Duccem/duccem.github.io/main/public/images/locales-min.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-[300px] md:w-[500px] mx-auto border-black border-2 rounded-md  shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all" src="https://raw.githubusercontent.com/Duccem/duccem.github.io/main/public/images/locales_landing.png" alt="">
        </div>
    </div>
    
</div>  