<div class="grid grid-cols-1 md:grid-cols-2  min-h-screen box-border">
    <div class="flex justify-around items-center gap-3 min-h-screen flex-col  pt-10 pb-10 bg-[#FF91E8]">
        <div class="w-full pr-5">
            <img class="w-[250px] md:w-[500px] ml-[20%] border-black border-2 rounded-md  shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all" src="/images/portfolio-2/super-human-1.png" alt="">
        </div>

        <div class="w-full pl-5">
            <img class="w-[250px] md:w-[500px] border-black border-2 rounded-md  shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all" src="/images/portfolio-2/super-human-2.png" alt="">
        </div>
    </div>
    <div class="flex justify-center min-h-screen flex-col px-10 md:pr-40 md:pl-6 pt-10">
        <div class="flex gap-6 mb-5">
            <a
            href="https://github.com/Duccem/super-human"
            target="_blank" 
            class="flex justify-center gap-2 items-center text-center cursor-pointer mt-3 font-bold border-black border-2  p-3 rounded-full bg-white shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] transition-all">
                Code
                <img class="h-6" src="/icons/github.svg" alt="">
            </a>
        </div>
        <p class="text-3xl font-bold mb-5">
            Super human, AI powered email client
        </p>
        <p class="text-lg font-medium mb-5">
            Email client that uses AI to help you manage your emails and tasks
        </p>
        <p class="text-lg font-bold mb-5">
            Technologies:
        </p>
        <div class="flex">
            <img src="/icons/next.svg" class="h-14 mr-5" alt="next">
            <img src="/icons/postgresql.svg" class="h-14 mr-5" alt="mongodb">
            <img src="/icons/prisma.svg" class="h-14 mr-5" alt="mongodb">
            <img src="/icons/claude.svg" class="h-14 mr-5" alt="mongodb">
        </div>
    </div>
</div>  
<div class="grid grid-cols-1 md:grid-cols-2  min-h-screen box-border">
    <div class="flex justify-center min-h-screen flex-col px-10 md:pl-40 md:pr-6 pt-10 order-2 md:order-1">
        <div class="flex gap-6 mb-5">
            <a
            href="https://github.com/Duccem/pathway"
            target="_blank" 
            class="flex justify-center gap-2 items-center text-center cursor-pointer mt-3 font-bold border-black border-2  p-3 rounded-full bg-white shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] transition-all">
                Code
                <img class="h-6" src="/icons/github.svg" alt="">
            </a>
        </div>
        <p class="text-3xl font-bold mb-5">
            Pathway, A E-Learning platform
        </p>
        <p class="text-lg font-medium mb-5">
            E-Learning platform that uses AI to help you learn better
        </p>
        <p class="text-lg font-bold mb-5">
            Technologies:
        </p>
        <div class="flex">
            <img src="/icons/next.svg" class="h-14 mr-5" alt="next">
            <img src="/icons/postgresql.svg" class="h-14 mr-5" alt="mongodb">
            <img src="/icons/prisma.svg" class="h-14 mr-5" alt="mongodb">
            <img src="/icons/claude.svg" class="h-14 mr-5" alt="mongodb">
        </div>
    </div>
    <div class="flex justify-around items-center min-h-screen flex-col py-10 bg-[#F7CB45] order-1 md:order-2">
        <div class="w-full pr-5">
            <img class="w-[300px] md:w-[500px] ml-[15px] md:ml-[25%] border-black border-2 rounded-md  shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all" src="/images/portfolio-2/pathway-2.png" alt="">
        </div>
        <div class="w-full">
            <img class="w-[300px] md:w-[500px] mx-auto border-black border-2 rounded-md  shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all" src="/images/portfolio-2/pathway-3.png" alt="">
        </div>
    </div>
    
</div>
<div class="grid grid-cols-1 md:grid-cols-2  min-h-screen box-border">
    <div class="flex  justify-around items-center gap-3 min-h-screen   pt-10 pb-10 bg-[#22A094] relative">
        <div class="w-full self-start pl-5">
            <img class="h-[300px] md:h-[400px]   rounded-2xl md:rounded-3xl  shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all border-black border-2" src="/images/portfolio-2/ryde-1.jpeg" alt="">
        </div>
        <div class="w-full">
            <img class="h-[300px] md:h-[400px]   rounded-2xl md:rounded-3xl  shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all border-black border-2" src="/images/portfolio-2/ryde-2.jpeg" alt="">
        </div>
        <div class="w-full self-end pr-5">
            <img class="h-[300px] md:h-[400px] rounded-2xl md:rounded-3xl  shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all border-black border-2" src="/images/portfolio-2/ryde-3.jpeg" alt="">
        </div>
    </div>
    <div class="flex justify-center min-h-screen flex-col px-10 md:pr-40 md:pl-6 pt-10">
        <div class="flex gap-6 mb-5">
            <a
            href="https://expo.dev/artifacts/eas/t3DaoXWcxkCWo3CtdquNkq.apk"
            target="_blank"  
            class="text-center cursor-pointer mt-3 font-bold border-black border-2 w-1/4 md:w-1/5  p-3 rounded-full bg-white shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] transition-all">
                Demo
            </a>
            <a
            href="https://github.com/Duccem/ducen"
            target="_blank" 
            class="flex justify-center gap-2 items-center text-center cursor-pointer mt-3 font-bold border-black border-2  p-3 rounded-full bg-white shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] transition-all">
                Code
                <img class="h-6" src="/icons/github.svg" alt="">
            </a>
        </div>
        <p class="text-3xl font-bold mb-5">
            Ryde, a ride booking app
        </p>
        <p class="text-lg font-medium mb-5">
            Ride booking app that uses AI to help you book rides
        </p>
        <p class="text-lg font-bold mb-5">
            Technologies:
        </p>
        <div class="flex">
            <img src="/icons/react.svg" class="h-14 mr-5" alt="next">
            <img src="/icons/google.svg" class="h-14 mr-5" alt="nest">
            <img src="/icons/claude.svg" class="h-14 mr-5" alt="mongodb">
        </div>
    </div>
</div>
<div class="flex flex-col justify-center py-8 min-h-screen">
    <p class="text-center font-bold text-5xl mb-10 px-[10px] md:px-0">Other projects</p>
    <div class="grid grid-cols-1 md:auto-rows-[250px] md:grid-cols-3 gap-4 box-border justify-center  mx-auto max-w-6xl px-10 pb-10">
        <a 
        href="https://github.com/Duccem/duccem-chat"
        target="_blank"
        class="border-2 row-span-1 md:col-span-2 bg-white border-black rounded-lg box-border h-[100%] p-10 shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all">
            <p class="text-xl font-bold mb-5">RAG Langchain chat</p>
            <p class="text-lg font-normal mb-5">Chat about valorant made with LangChain</p>
            <p class="text-lg font-bold flex items-center">
                View Project 
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </p>
            <img src="/icons/github.svg" alt="npm" height="40" width="40" class="mt-1">
        </a>
        <a 
        href="https://www.npmjs.com/package/@duccem/duccem-git"
        target="_blank"
        class="border-2 row-span-1 bg-white border-black rounded-lg box-border h-[100%] p-10 shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all">
            <p class="text-xl font-bold mb-5">Duccem Git</p>
            <p class="text-lg font-normal mb-5">CLI to make isier git work</p>
            <p class="text-lg font-bold flex items-center">
                View Project
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </p>
            <img src="/icons/npm.svg" alt="npm" height="50" width="50">
        </a>
        <a 
        href="https://github.com/Duccem/ducen-auto-query"
        target="_blank"
        class="border-2 row-span-1  bg-white border-black rounded-lg box-border h-[100%] p-10 shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all">
            <p class="text-xl font-bold mb-5">Ducen Auto Query</p>
            <p class="text-lg font-normal mb-5">Library to make DB queries using criteria pattern.</p>
            <p class="text-lg font-bold flex items-center">
                View Project 
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </p>
            <img src="/icons/npm.svg" alt="npm" height="50" width="50">
        </a>
        <a 
        href="https://github.com/Duccem/ducentrace"
        target="_blank"
        class="border-2 row-span-1  bg-white border-black rounded-lg box-border h-[100%] p-10 shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all">
            <p class="text-xl font-bold mb-5">Ducentrace</p>
            <p class="text-lg font-normal mb-5">An Express middleware to track request.</p>
            <p class="text-lg font-bold flex items-center">
                View Project 
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </p>
            <img src="/icons/npm.svg" alt="npm" height="50" width="50">
        </a>
        <a 
        href="https://github.com/Duccem/ducenlogger"
        target="_blank"
        class="border-2 row-span-1 bg-white border-black rounded-lg box-border h-[100%] p-10 shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] hover:cursor-pointer transition-all">
            <p class="text-xl font-bold mb-5">Ducenlogger</p>
            <p class="text-lg font-normal mb-5">A simple logger</p>
            <p class="text-lg font-bold flex items-center">
                View Project 
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </p>
            <img src="/icons/npm.svg" alt="npm" height="50" width="50">
        </a>
    </div>
</div>