<div class="text-center md:text-left">
    <p class="text-xl font-semibold text-[#52514e]">
        Hi, my name is José.
    </p>
    <p class="mt-5 mb-5 text-7xl font-extrabold">
        Senior Software Engineer & Writer 
    </p>
    <p class="text-xl font-semibold text-[#52514e]">
        Current work with some personal priojects.<br>
        Writer on medium.
    </p>
    <a 
    href="#contact"
    class="inline-block text-center mt-3 font-bold border-black border-2 w-[300px] p-3 rounded-full bg-[#F7CB45] shadow-[3px_3px_#282825] hover:shadow-[7px_7px_#282825] hover:translate-x-[-4px] hover:translate-y-[-4px] transition-all">
        Contact me
    </a>
</div>